@import url("http://netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css");

html, body {
  height: 100%;
}

body {
  background: #f1f1f1;
  overflow: hidden;
}

.banner {
  height: 200px;
  background-color: #ddd;
}

.container {
  background: #fff;
  height: 2000px;
}

.btn-container {
  border-radius: 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0px;
}

.btn-container .btn {
  border-radius: 2px;
  border-color: #d3d3d3;
  background: #f8f8f8;
  width: 175px;
  margin: 10px;
}

.btn-container .btn:hover {
  border-color: #c6c6c6;
  background: #f0f0f0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.10);
}

.btn-inline {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.btn .sonnet-text {
  margin-right: 10px;
}

.video-player-details {
  background: #fff;
  padding: 8px;
  border: 0;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
  margin-top: 10px;
}

.video-list {
  background: #fff;
  padding: 8px;
  border: 0;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
}

.video-list-entry {
  font-size: 16px;
  padding: 8px;
}

.video-list-entry-title {
  font-weight: bold;
}

.video-list-entry-title:hover {
  color: #e62117;
  cursor: pointer;
}

.video-list-entry-detail {
  font-size: 12px;
  color: #999;
}
